{% extends 'base.html' %}

{% block content %}


    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">

                    <h2 class="title">Welcome {{ first_name }} {{ last_name }}</h2>


                    {% include 'partials/_alerts.html' %}

                        <div class="input-group">
                            <input class="input--style-3" type="text" value="{{ email }}" readonly>
                        </div>

                        <div class="input-group">
                            <input class="input--style-3" type="text" value="{{ username }}" readonly>
                        </div>
                     <div class="input-group">
                            <input class="input--style-3" type="text" value="{{ username }}" readonly>
                        </div>


                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit"><a href="{% url 'login' %}">Login</a></button>
                        </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

