{% extends 'base.html' %}

{% block content %}


    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">

                    <h2 class="title">User Registration</h2>
                    <form method="POST" action="http://127.0.0.1:8000/">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="First name" name="first_name" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Last name" name="last_name" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Username" name="username" required>
                        </div>


                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="number" placeholder="Phone" name="phone" required>
                        </div>
                        <div class="input-group">
                             <textarea class="input--style-3"  rows="4" cols="40" placeholder="Provide your address.." name="address" style="color:white;" required></textarea>
                        </div>

                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="password" name="password" required>
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>

                    </form><br>
                     <p style="color: white">Already have account ? <a href="{% url 'login' %}">Login</a> </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

